@model IEnumerable<Pantus.Models.TbMenuItem>
@foreach(var p in Model)
{
    String sUrl = $"/menu/{p.Alias}-{p.MenuItemId}.html";
    <div class="col-lg-6 wow bounceInUp" data-wow-delay="0.1s">
                <div class="menu-item d-flex align-items-center">
            <a href="@sUrl"><img class="flex-shrink-0 img-fluid rounded-circle" src="~/assets/img/Food/@p.Image" alt=""></a>
            <div class="w-100 d-flex flex-column text-start ps-4">
                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                            <h4>@p.Title</h4>
                            <h4 class="text-primary">$@p.Price</h4>
                        </div>
                        <p class="mb-0">@p.Description</p>
                    </div>
                </div>
            </div>
           
}