@{

    List<TbMenuCategory> menuCategories = ViewBag.menuCategories;
}
<div>
    <a class="AnhhPhapp-menu-left" href="#">
        <img alt="tet" src="~/assets/trangtri/13.png" style="width:200px;" />
    </a>
</div>

<div>
    <a class="AnhhPhapp-menu-right" href="#">
        <img alt="tet" src="~/assets/trangtri/10.png" style="width:290px;" />
    </a>
</div>
        <!-- Hero Start -->
<div class="container-fluid bg-light py-6 my-6 mt-0">
    <div class="container text-center animated bounceInDown">
        <h1 class="display-1 mb-4">Ẩm Thực</h1>
        <ol class="breadcrumb justify-content-center mb-0 animated bounceInDown">
            <li class="breadcrumb-item"><a href="~/Home/Index">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Trang</a></li>
            <li class="breadcrumb-item text-dark" aria-current="page">Món Ăn</li>
        </ol>
    </div>
</div>
<!-- Hero End -->
<!-- Menu Start -->
<div class="container-fluid menu bg-light py-6 my-6">
    <div class="container">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Our Menu</small>
            <h1 class="display-5 mb-5">Những Món Ăn Phổ Biến</h1>
        </div>
        <div class="tab-class text-center">
            <ul class="nav nav-pills d-inline-flex justify-content-center mb-5 wow bounceInUp" data-wow-delay="0.1s">
                <li class="nav-item p-2">
                    <a class="d-flex py-2 mx-2 border border-primary bg-white rounded-pill active" data-bs-toggle="pill" href="#tab-6">
                        <span class="text-dark" style="width: 150px;">Tất Cả</span>
                    </a>
                </li>
                @foreach (var p in menuCategories.Where(i => (bool)i.IsActive))
                {

                    <li class="nav-item p-2">
                        <a class="d-flex py-2 mx-2 border border-primary bg-white rounded-pill" data-bs-toggle="pill" href="#@p.Alias">
                            <span class="text-dark" style="width: 150px;">@p.Title</span>
                        </a>
                    </li>
                }
            </ul>
            <div class="tab-content">
                <div id="tab-6" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        @await Component.InvokeAsync("MenuFood")
                    </div>
                </div>

                <div id="mon-an-chinh" class="tab-pane fade show p-0">
                    @await Component.InvokeAsync("MenuFood", new {categoryId = 1})
                </div> 
                <div id="mon-nhau" class="tab-pane fade show p-0">
                    @await Component.InvokeAsync("MenuFood", new {categoryId = 2})
                </div>
                <div id="trang-mieng" class="tab-pane fade show p-0">
                    @await Component.InvokeAsync("MenuFood", new {categoryId = 5})
                </div>
                <div id="do-uong" class="tab-pane fade show p-0">
                    @await Component.InvokeAsync("MenuFood", new {categoryId = 7})
                </div>
             
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->