@model IEnumerable<Pantus.Models.TbEvent>
@foreach (var p in Model)
{
    String sUrl = $"/event/{p.EventId}.html";
    <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s">
        <div class="event-img position-relative">
            <img class="img-fluid rounded w-100" src="@p.Image" style="width: 150px; height:250px" alt="">
            <div class="event-overlay d-flex flex-column p-4">
                <h4 class="me-auto">
                  <a href="@sUrl">@p.Title</a>
                    </h4>
                <a href="~/assets/img/event-1.jpg" data-lightbox="event-1" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
            </div>
        </div>
    </div>
}